<div id="main" class="mt-5">
  <div class="row">
    <div class="col-12">
      <h1>Search Hotel Name</h1>
    </div>
    <div class="col-12 pt-4">
      <div class="box">
        <div class="box-body">
          <div class="input-group">
            <input type="search" class="form-control" id="hotel-name" name="name" placeholder="Search Hotel" class="form-control">
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 pt-4">
      <div class="row">
        <div class="col-4">
          <div class="list-group list">
          </div>
        </div>
        <div class="col-8">
          <div class="detail-item">

          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="d-none" id="template" >
  <div class="in-template">
  <div class="card bg-card p-3">
    <div class="container-fluid">
      <div class="wrapper row">
        <div class="preview col-md-6">
            <div class="preview-pic tab-content">

            </div>
            <ul class="preview-thumbnail nav nav-tabs">

            </ul>
        </div>

        <div class="details col-md-6">
          <h3 class="hotel-title">Name</h3>
          <div class="rating">
            <span class="review-no float-left"><span class="hotel-rating"></span>/5</span>
            <span class="review-no float-right">Total Rating:<span class="hotel-total"></span></span>
          </div>
          <p class="hotel-description"></p>

          <div class="action">
            <a class="btn btn-primary btn-sm hotel-website" href="" target="_blank">Visit Web Site</a>
            <a class="btn btn-info btn-sm hotel-phone" href="">Phone</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  <div class="comment-template">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-2">
            <img src="" class="profile_photo_url img img-rounded img-fluid"/>
            <p class="text-secondary text-center relative_time_description"></p>
          </div>
          <div class="col-md-10">
            <p>
            <div class="float-right">Rating:<span class="rating"></span></div>
              <a class="float-left author_url" href="#"><strong class="author_name">Name</strong></a>


            </p>
            <div class="clearfix"></div>
            <p class="text">Lorem Ipsum is simply dummy text </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>